doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit")
    link(rel="stylesheet" href="/stylesheets/style.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://d1azc1qln24ryf.cloudfront.net/114779/Socicon/style-cf.css?u8vidh")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href="/")
        img(src="https://png.icons8.com/dusk/50/000000/sell-property.png" width="30" height="30" class="d-inline-block align-top")
        span  ระบบตัวแทน
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      .collapse.navbar-collapse.justify-content-end#navbarNav
        ul.navbar-nav
          if user
            if user.privilege== 'user'
              li.nav-item: a.nav-link(href="/user/profile") บัญชีของ#{user.firstname}
              li.nav-item: a.nav-link.btn.btn-danger.text-white(href="/auth/logout") ออกจากระบบ
            else if user.privilege== 'admin'
              li.nav-item: a.nav-link(href="/user/list-users") หน้าการจัดการ
              li.nav-item: a.nav-link.btn.btn-danger.text-white(href="/auth/logout") ออกจากระบบ
          else
            li.nav-item.active: a.nav-link(href="/user/register") สมัครเป็นตัวแทน
            li.nav-item: a.nav-link.btn.btn-success.text-white(href="/auth/login") เข้าสู่ระบบ
    block content
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
    script(src="/javascripts/main.js")
